

<html>

<head>
    <title>Main Page</title>
</head>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<body>

    <h1 style="text-align: center; width: 100%">Products</h1>

    <table style="margin: 0 auto; margin-top: 10vh">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
        </tr>

        {% for product in products %}
        <tr>
            <td><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></td>
            <td>{{ product.description }}</td>
            <td>{{ product.category.name }}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>